/*  your css code here. If applicable */

#title, #author, #isbn{
	width:500px;
	height:20px
}

th{
	text-align:start;
}

.table{
	width:100%;
	border:1px solid black;
}

.delete{
	background-color:red;
	color:white;
	width:30px;
	height:20px;
}

